body {
  font-family: 'Kanit', sans-serif;
}

header {
  border-bottom: 1px solid #acacac;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fas.fa-caret-square-left {
  font-size: 20px;
  margin-top: 6px;
}

.fas.fa-piggy-bank {
  font-size: 28px;
}

.fas.fa-caret-square-left,
.fas.fa-piggy-bank,
.header-title {
  color: #fd6f63;
}

.year-and-month {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
  font-size: 25px;
}

.year-and-month-h2 {
  margin: 0.5rem 1.5rem 0.8rem 1.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  padding-left: 0;
}

li {
  list-style: none;
}

.li-anchor {
  text-decoration: none;
  color: #acacac;
}

.li-anchor.daily {
  border-bottom: 2px solid #f55346;
  color: #000;
}

.current-balance {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  border-top: 1px solid #acacac;
}

.current-income,
.current-expenses,
.current-total {
  font-weight: 600;
}

.income-amount {
  color: #78b7f6;
}

.expenses-amount {
  color: #f55346;
}

.income,
.expenses,
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-container {
  margin-top: 0.5rem;
  border-top: 8px solid #acacac;
  background-color: #f0f0f0;
  height: 62vh;
}

.plus-icon-container {
  display: flex;
  justify-content: flex-end;
}

.fas.fa-plus-circle {
  color: #fd6f63;
  font-size: 40px;
  padding: 0 2rem 1.5rem 0;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  border-top: 1px solid #acacac;
}

.far.fa-folder-open,
.fas.fa-chart-pie,
.fas.fa-money-check-alt,
.fas.fa-user-cog {
  margin: 1rem 0;
  font-size: 35px;
  color: #acacac;
}

.far.fa-folder-open {
  color: #fd6f63;
}
